[Unit]
Description=PTZ Controller
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=frangi
WorkingDirectory=/home/frangi/ptz-controler
Environment=PTZ_CAMERA_HOST=192.168.20.173
ExecStart=/home/frangi/ptz-control/.venv/bin/python -m ptzcontroller
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
